html, body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    background: #000;
    position: fixed;
}

#debug-data {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #666;
    padding: 5px;
}
.debug #debug-data {
    display: block;
    color: #fff;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
